<div class="container">
  <div class="box custom-box">

    <h1 class="title is-spaced is-family-monospace form-title">Sign Up</h1>
  
<%= simple_form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <div class="control"> 
    <%= f.input :name,
                label: 'Name',
                label_html: { class: 'label' },
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name", class:"input", placeholder:"Enter Name" }, wrapper: false%>
    </div>
  </div>  
  <div class="field">
    <div class="control"> 
    <%= f.input :email,
                label: 'Email',
                label_html: { class: 'label' },
                required: true,
                input_html: { autocomplete: "email", class:"input", placeholder:"Enter email" }, wrapper: false%>
    </div>
  </div>    
  <div class="field">
    <div class="control"> 
    <%= f.input :password,
                label: 'Password',
                label_html: { class: 'label' },
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "password", class:"input", placeholder:"Password" }, wrapper: false%>
    </div>
  <div class="field">
    <div class="control"> 
    <%= f.input :password_confirmation,
                label: 'Password Confirmation',
                label_html: { class: 'label' },
                required: true,
                input_html: {class:"input", placeholder:"Password" }, wrapper: false%>
    </div>
  </div> 
  
  <div class="field is-grouped is-grouped-centered submit-button-group">
    <div class="control">
      <%= f.button :submit, "Sign up", class:"button is-primary", method: :get %>
    </div>
    <div class="control">
      <%= link_to 'Back to Home', root_path , class:"button is-link"%>
  </div>
<% end %>
  </div>
</div>
