<div class="container">
  <div class="box custom-box">
    <h1 class="title is-spaced is-family-monospace form-title">Your Shot</h1>
    <%= simple_form_for @shot, html: {class: "dropzone shot-form", id:"my-awesome-dropzone", multipart: true } do |f| %>

      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="field">
        <div class="control"> 
          <%= f.input :title, 
                      label: 'Title',
                      label_html: { class: 'label' },
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "name", class:"input", placeholder:"Enter Title" }, wrapper: false%>
        </div>
     </div>  
      <div class="field">
        <div class="control"> 
        <%= f.input :description, as: :text,
                    label: 'Description',
                    label_html: { class: 'label' },
                    required: true,
                    input_html: { class:"textarea", placeholder:"Enter Description", rows: 7 }, wrapper: false%>
        </div>
      </div> 

      <div class="field is-grouped is-grouped-centered">
        <div class="control fallback"> 
        <%= f.input :file, as: :file,
                      label: 'Upload your image file here',
                      label_html: { class: 'file-label custom-file-form' },
                      required: true,
                      input_html: {name:"shot[user_shot]", class: "file-input", placeholder:"Drop your file", type: 'file' }, wrapper: false%>
        </div>
      </div>

  
      <div class="field is-grouped is-grouped-centered submit-button-group">
      <div class="control">
        <%= f.button :submit, "ADD SHOT", class:"button is-primary", id:"submit", method: :get %>
      </div>
    <% end %>
  </div>
</div>