<div class="container">
  <div class="box form-box">

    <h1 class="title is-spaced">Your Shot</h1>
  
<%= simple_form_for(@shot) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <div class="control"> 
    <%= f.input :user_shot, as: :file,
                label: 'Upload your file here',
                label_html: { class: 'file-label' },
                required: true,
                input_html: {class:"file-input", placeholder:"Drop your file", type: 'file' }, wrapper: false%>
    </div>
  </div>  

  <div class="field">
    <div class="control"> 
    <%= f.input :title,
                label: 'Title',
                label_html: { class: 'label' },
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name", class:"input", placeholder:"Enter Title" }, wrapper: false%>
    </div>
  </div>  
  <div class="field">
    <div class="control"> 
    <%= f.input :description, as: :text,
                label: 'Description',
                label_html: { class: 'label' },
                required: true,
                input_html: { class:"textarea", placeholder:"Enter Description", rows: 7 }, wrapper: false%>
    </div>
  </div>    
  
  <div class="field is-grouped is-grouped-centered submit-button-group">
    <div class="control">
      <%= f.button :submit, "Sign up", class:"button is-primary", method: :get %>
    </div>
    <div class="control">
      <%= link_to 'Back to Home', root_path , class:"button is-link"%>
  </div>
<% end %>
  </div>
</div>



<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shots.each do |shot| %>
      <tr>
        <td><%= shot.title %></td>
        <td><%= shot.description %></td>
        <td><%= link_to 'Show', shot %></td>
        <td><%= link_to 'Edit', edit_shot_path(shot) %></td>
        <td><%= link_to 'Destroy', shot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

